{% extends "base.html" %}

{% block title %}About Us — Online Bank{% endblock %}

{% block content %}
<div class="container">
  <div class="about">
    <h1>About Us</h1>
    <p>Welcome to DigitalSafe Bank, a secure and modern online banking platform designed to make banking simple, fast,
      and accessible from anywhere. Our system allows users to manage their accounts, transfer money, check balances,
      and perform essential banking operations through a user-friendly web interface.</p>
    <h2>Our Mission</h2>
    <p>Our mission is to provide a secure, reliable, and easy-to-use digital banking experience. We aim to simplify
      financial management through technology while maintaining high standards of data protection and user privacy.</p>
    <h2>Our Services</h2>
    <p>We provide various online banking services including:</p>
    <ul>
      <li>Account registration and secure login</li>
      <li>balance cheking</li>
      <li>Money Transfer</li>
      <li>Transection History</li>
      <li>Profile management</li>
      <li>Customer support services</li>
    </ul>
    <h2>Security</h2>
    <p>Security is our top priority. Our system uses secure authentication methods and encrypted data handling to
      protect user information and transactions. We continuously work to improve our security features to ensure safe
      banking.</p>

    <h2>Technology Used</h2>
    <ul>
      <li>Frontend: HTML, CSS, JavaScript</li>
      <li>Backend: Python Flask</li>
      <li>Database: MySQL</li>
    </ul>
    <h2>Why Choose Us</h2>
    <ul>
      <li>Simple and clean interface</li>
      <li>Fast transactions</li>
      <li>Secure system</li>
      <li>Easy account management</li>
      <li>24/7 accessibility</li>
    </ul>
    <h2>Our Vision</h2>
    <p>We aim to build a digital banking solution that is reliable, secure, and efficient for everyday financial needs.</p>
  </div>
</div>
{% endblock %}