{% extends "base.html" %}

{% block title %}Forgot Password — Online Bank{% endblock %}

{% block content %}
<style>
   .input-box input,
  textarea {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: rgba(145, 200, 237, 0.521);
    color: white;
  }
   .auth{
    width: 400px;
    height:470px;
    position: relative;
    right: 380px;
    padding: 15px;
    top: 19px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 200, 255, 0.5);
    margin-bottom: 65px;
    box-shadow:
      0 0 25px rgba(0, 200, 255, 0.3),
      inset 0 0 10px rgba(0, 200, 255, 0.2);
  }

</style>
<div class="container auth">
  <h1>Forgot Password</h1>
  <form id="signupForm" action="#" method="post" novalidate>
    <div class="input-box"><label>username <input name="username" required></label></div>
    <div class="input-box"><label>Email <input name="email" type="email" required></label></div>
    <div class="input-box"><label>New Password <input name="password" type="password" required minlength="6"></label></div>
    <div class="input-box"><label>Confirm Password * <input name="password" type="password" required minlength="6"></label></div>
    <button class="btn" type="submit">Reset password</button>
  </form>
</div>
{% endblock %}
